name: Publish Stable Version
on:
  release:
    types: [created]

jobs:
  publish-stable:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.4

      - name: Install deps
        run: bun install

      - name: Run build
        run: bun ./scripts/tools/build.ts

      - name: Publish stable versions
        run: bun run ./scripts/ci-cd/publish-stable.ts
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}